includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    configDirectories:
        - config
    ignoreErrors:
        -
            message: '#Class App\\Models\\User not found#'
            path: config/gezel.php
        -
            identifier: trait.unused
            path: src/Concerns/HasGezelAgent.php
        -
            identifier: trait.unused
            path: src/Concerns/DeprovisionsGezelContainer.php
